<div id="<%= dom_id movie %>">
  <p>
    <strong>Name:</strong>
    <%= movie.name %>
    <strong>Cliente:</strong>
    <%= movie.client.name %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= movie.client_id %>
  </p>

</div>
