<p style="color: green"><%= notice %></p>
<div class= "contianer " >

<h1>Movies</h1>

<div type= "button", class="btn btn-dark" ><%= link_to "New Movie", new_movie_path %></div>

<div id="movies">

<ul class= "row row-sm-6 mb-3 mb-sm-0">

<% @movies.each do |movie| %>
<div class="card-d-inline-flex" style= "max-width: 50rem">
<div class= "card-body text-tarjeta " >
<%= render movie %>
  <% end %>
  </div>
  </div>
  </div>
  </div>
</ul>
